<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
         
      </system.Web>
     <configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
       
   
  -->
 
  
  <connectionStrings>
    <add name="Milestone2-13ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Josh\AppData\Local\Temp\VWDWebCache\ftp_ch-323-server.dyn.wichita.edu_Unicorn_Riders_P656W569\Databases\Milestone2-13.mdb"
      providerName="System.Data.OleDb" />
    <add name="Milestone2-12ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\sharp\Desktop\Milestone2-12.mdb"
      providerName="System.Data.OleDb" />
    <add name="ProjectDatabaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\sharp\AppData\Local\Temp\VWDWebCache\ftp_ch-323-server.dyn.wichita.edu_unicorn_riders_h272z589\Databases\ProjectDatabase.mdb"
      providerName="System.Data.OleDb" />
    <add name="Milestone214ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\School\WSU\MIS 610\Project\App_Data\Milestone214.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="db214" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\School\WSU\MIS 610\Project\App_Data\Milestone214.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="DropdownList" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString4" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb"
      providerName="System.Data.OleDb" />
    <add name="Register2instert" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb"
      providerName="System.Data.OleDb" />
    <add name="RegisterInsert" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone214.mdb"
      providerName="System.Data.OleDb" />
    <add name="InsertReg" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Milestone215.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Milestone4ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ProjectDatabase42.mdb"
      providerName="System.Data.OleDb" />
    <add name="ProductSearchByTextConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ProjectDatabase42.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" urlLinePragmas="true">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>