<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="Milestone214ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\School\WSU\MIS 610\Project\App_Data\Milestone214.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Milestone214ConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\School\WSU\MIS 610\Project\App_Data\Milestone214.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
